<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>resourceBundle.path</param-name>
        <param-value>i18n.messages</param-value>
    </context-param>

    <env-entry>
        <env-entry-name>txRetryLimit</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>3</env-entry-value> 
    </env-entry>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>


    <welcome-file-list>
        <welcome-file>faces/main/index.xhtml</welcome-file>
    </welcome-file-list>

    <security-role>
        <description/>
        <role-name>Klient</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Pracownik</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Administrator</role-name>
    </security-role>

    <security-constraint>
        <display-name>StronyZalogowanegoUzytkownika</display-name>
        <web-resource-collection>
            <web-resource-name>StronyZalogowanegoUzytkownika</web-resource-name>
            <description/>
            <url-pattern>/faces/konto/szczegolyMojegoKonta.xhtml</url-pattern>
            <url-pattern>/faces/konto/zmienMojeHaslo.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Klient</role-name>
            <role-name>Administrator</role-name>
            <role-name>Pracownik</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>StronyKlienta</display-name>
        <web-resource-collection>
            <web-resource-name>StronyKlienta</web-resource-name>
            <description/>
            <url-pattern>/faces/produkt/listaProduktowKlient.xhtml</url-pattern>
            <url-pattern>/faces/zamowienie/edytujMojeZamowienieKlient.xhtml</url-pattern>
            <url-pattern>/faces/zamowienie/zlozMojeZamowienieKlient.xhtml</url-pattern>
            <url-pattern>/faces/zamowienie/listaZamowienKlient.xhtml</url-pattern>
            <url-pattern>/faces/zamowienie/usunZamowienie.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Klient</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>StronyPracownika</display-name>
        <web-resource-collection>
            <web-resource-name>StronyPracownika</web-resource-name>
            <description/>
            <url-pattern>/faces/zamowienie/listaZamowienPracownik.xhtml</url-pattern>
            <url-pattern>/faces/zamowienie/zatwierdzZamowienie.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Pracownik</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>StronyAdministratora</display-name>
        <web-resource-collection>
            <web-resource-name>StronyAdministratora</web-resource-name>
            <description/>
            <url-pattern>/faces/konto/edytujKonto.xhtml</url-pattern>
            <url-pattern>/faces/konto/listaKont.xhtml</url-pattern>
            <url-pattern>/faces/konto/utworzAdministratora.xhtml</url-pattern>
            <url-pattern>/faces/konto/utworzPracownika.xhtml</url-pattern>
            <url-pattern>/faces/konto/utworzKlienta.xhtml</url-pattern>
            <url-pattern>/faces/konto/zmienHasloKonta.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <display-name>StronyHTTPS</display-name>
        <web-resource-collection>
            <web-resource-name>Wszystkie strony</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
<!--    Nie ma tu elementu <login-config>. Tę rolę spełnia klasa SecurityAppConfig-->

    <error-page>
        <error-code>403</error-code>
        <location>/faces/error/error403.xhtml</location>   
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/faces/error/error404.xhtml</location>   
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/faces/error/error.xhtml</location>   
    </error-page>
    <error-page>
        <!-- obsługa błędów systemowych zgłaszanych przez kontener -->
        <exception-type>java.lang.Exception</exception-type>
        <location>/faces/error/error.xhtml</location>
    </error-page>
    <context-param>
        <!--        Ustawienie tego parametru na wartość true powoduje, że JSF będzie traktować puste pola formularza
        jako wartości null, nie zaś puste napisy ("")-->
        <param-name>
            javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL
        </param-name>
        <param-value>true</param-value>
    </context-param>
</web-app>
